<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./shared/head'); %>
        <title>MercadoPago API - Pago exitoso</title>
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <h1 class="text-center mt-3">
                    Pago exitoso
                </h1>
            </header>
            <section>
                Método de pago: <%= paymentMethod %>
                Orden de compra: <%= orderReference %>
                Id de pago: <%= paymentId %>
            </section>
        </div>
        <%- include('./shared/scripts'); %>
    </body>
</html>